#include ".Xresources.d/palenight"

Xft.dpi: 116

URxvt.font:             xft:JetBrainsMono Nerd Font:size=10
URxvt.internalBorder:   20
URxvt.scrollBar:        false

Rxvt.keysym.Shift-Control-V:    eval:paste_clipboard
URxvt.keysym.Shift-Control-C:   eval:selection_to_clipboard
URxvt.keysym.C-Delete:          \033[3;5~
URxvt.keysym.C-Up:              \033[1;5A
URxvt.keysym.C-Down:            \033[1;5B
URxvt.keysym.C-Right:           \033[1;5C
URxvt.keysym.C-Left:            \033[1;5D
